html {
  scroll-behavior: smooth;
}
/* Hero section */
.home {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    flex-direction: row;
}

.text-box {
    animation: go-left linear;
    animation-timeline: view();
    animation-range: exit -300%;
}

@keyframes go-left {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-100px);
    }
}

.text-box h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.text-box h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

.text-box p {
    font-size: 20px;
    margin-bottom: 25px;
}

.image img {
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

.image {
    animation: go-right linear;
    animation-timeline: view();
    animation-range: exit -80%;
}


@keyframes go-right {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(100px);
    }
}